@import url("fonts.css");

@import url("reset.css");

body {
  max-width: 2000px;
  overflow: auto;
  margin: 0 auto;
  background-color: #f8f8f8;
}

.wrapper {
  max-width: 2000px;
  min-height: 100%;
  font-family: "Proxima Nova", sans-serif;
  margin: 0 auto;
}

header {
  max-width: 1920px;
  color: #535353;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

/* Header TOP */

.top {
  line-height: 1.875%;
  /* max-width: 560px; */
  display: flex;
  gap: 336px;
  /* align-items: center; */
  padding: 15px 0;
  align-items: center;
}

.top__ul {
  display: flex;
  align-items: center;
}

.top__ul *:not(:last-child) {
  margin-right: 30px;
}

.section-messengers {
  display: flex;
  align-items: center;
}

.section-messengers__text-help {
  margin-right: 20px;
}

.section-messengers__text-help {
  margin-right: 30px;
}

/* .top__section-img *:not(:last-child) {
  margin-right: 10px;
} */

.section-messengers__icons-messengers {
  display: flex;
  gap: 10px;
}

/* .section-img__icons-messengers *:not(:last-child) {
  margin-right: 10px;
} */

.section-messengers__icons-messengers {
  margin-right: 30px;
}

.section-messenders__language {
  display: flex;
  align-items: center;
}

.section-messengers__text-language {
  color: #535353;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26;
}

/* Header MIDDLE */

.header__middle {
  width: 100%;
  /* width: 2500px; */
  background-color: #fff;
  padding: 25px 0;
  display: flex;
  gap: 30px;
  /* align-items: center; */
  /* margin: 0 auto; */
  /* text-align: center; */
  justify-content: center;
  /* margin-bottom: 5px; */
  margin-left: -23px;
}

.middle-header__logo-img {
  margin-right: 4px;
}

.middle-header__search-section {
  width: 421px;
  height: 50px;
  color: #b1b1b1;
  border: 1px solid #b1b1b1;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.middle-header__information {
  display: flex;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  gap: 10px;
  align-items: center;
}

.information__section-text {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: space-between; */
  gap: 20px;
}

/* .information__day-text,
.information__phone-number {
  display: block;
} */

.information__day-text {
  color: #535353;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.69%;
}

.information__phone-number {
  font-size: 20px;
  color: #2b2929;
  font-weight: 600;
  line-height: 1.4%;
}

.middle-header__icon-goods {
  display: flex;
  gap: 20px;
}

/* .header__img-obrane {
  margin-right: 20px;
} */

/* ------------- */

.header__strip {
  width: 100%;
  height: 2px;
  border: 2px solid #f8f8f8;
  /* background-color: royalblue; */
}

/* ------------- */

/* Header BOTTOM */

.header__bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 112px;
  background-color: #fff;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26;
  padding: 18px 0;
  margin-left: -30px;
}

.bottom-header__left-section {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.bottom-header__left {
  display: flex;
  align-items: center;
}

.bottom-header__left-section {
  display: flex;
  gap: 40px;
}

.bottom-header__left :first-child {
  margin-right: 5px;
}

.bottom-header__right {
  display: flex;
  gap: 40px;
}

/* Блок товару 1 */

.main {
  margin-bottom: 80px;
}

.main__block-popular {
  max-width: 1290px;
  color: #2b2929;
  /* display: flex; */
  margin: 0 auto;
  margin-bottom: 70px;
}

.block-popular__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 40px;
}

.block-popular__section-column {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  gap: 24px 10px;
}

/* .block-popular__title {
  display: flex;
} */

.block-popular__column {
  max-width: 250px;
  background: url(../img/frame-background.svg) 0 bottom / 100% no-repeat;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  background-color: #fff;
  border-radius: 8px;
  position: relative;
  border-radius: 8px;
}

.block-popular__column > img {
  margin: 0 auto;
  text-align: center;
}

.block-popular__section-text {
  /* max-width: 210px; */
  display: flex;
  /* gap: 130px; */
  /* align-items: flex-end; */
  /* justify-content: space-between; */
  justify-content: space-around;

  /* margin: 0 auto; */
}

.block-popular__category-text {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
}

.block-popular__number {
  color: #b1b1b1;
}

.block-popular__icon-arrow {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

/* Блок товару 2 */

.block-the-most-popular {
  max-width: 1290px;
  margin: 0 auto;
}

.block-the-most-popular__section-title {
  display: flex;
  gap: 30px;
  margin-bottom: 40px;
}

.section-title__title-two {
  color: #2b2929;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
}

.section-text-arrow-orange {
  display: flex;
  align-items: center;
  gap: 10px;
}

.section-text-arrow-orange__look-all {
  color: #ffbc57;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26;
  /* justify-content: space-between; */
}

.block-the-most-popular__section-column-most-popular {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.the-most-popular-column {
  max-width: 300px;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  padding: 20px;
  flex-direction: column;
  /* align-items: center; */
  gap: 20px;
  border: 1px solid #e3e2e2;
  box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
}

.the-most-popular-column__img {
  max-width: 260px;
  border-radius: 8px;
  /* margin-bottom: 20px; */
}

.the-most-popular-column__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* background-color: #2b2929; */
  /* треба подивитись */
  justify-content: space-between;
}

.the-most-popular-column__text-size {
  color: #535353;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.69;
}

.the-most-popular-column__text-name {
  color: #2b2929;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26;
}

.the-most-popular-column__availability {
  display: flex;
  align-items: center;
  gap: 5px;
}

.the-most-popular-column__text-availability {
  color: #2b2929;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.69;
}

.the-most-popular-column__section-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-price__numbers {
  display: flex;
  flex-direction: column;
}

.section-price__discount-price {
  color: #e03d3d;
  font-size: 15px;
  line-height: 1.46;
  text-decoration-line: line-through;
}

.section-price__price {
  color: #2b2929;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
}

.the-most-popular-column__icon {
  display: flex;
  /* align-items: center; */
  gap: 10px;
}

/* Блок 3 */

.footer__section-footer {
  max-width: 1290px;
  margin: 0 auto;
}

.section-footer__block-text-action-footer {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 46px;
}

.section-footer__text-action {
  color: #2b2929;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
}

.section-footer__section-img-footer {
  display: flex;
  gap: 30px;
}
