@import url("fonts.css");

@import url("reset.css");

body {
  overflow: auto;
  margin: 0 auto;
  background-color: #f8f8f8;
}

.wrapper {
  min-height: 100%;
  font-family: "Proxima Nova", sans-serif;
  margin: 0 auto;
}

header {
  color: #535353;
  margin-bottom: 100px;
}

[class*="__container"] {
  max-width: 1290px;
  margin: 0 auto;
}

/* Header TOP */

.top {
  line-height: 1.3;
  padding: 15px 0;
}

.top__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.top__ul {
  flex-basis: 560px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 30px;
}

.top__ul *:hover {
  text-decoration: underline;
}

.section-messengers {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.section-messengers__mesengers {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.section-messengers__list {
  display: flex;
  gap: 10px;
}

.list-messengers__item {
  transition: 0.3s;
}

.list-messengers__item:hover {
  transform: scale(1.2);
}

.section-messengers__text-language {
  color: #535353;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26;
}

/* Header MIDDLE */

.header__middle {
  width: 100%;
  background-color: #fff;
  padding: 25px 0;
  border: 2px solid #f8f8f8;
}

.middle-header__container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.middle-header__logo-img {
  margin-right: 4px;
}

.middle-header__search-section {
  max-width: 421px;
  width: 100%;
  height: 50px;
  color: #b1b1b1;
  border: 1px solid #b1b1b1;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.middle-header__information {
  display: flex;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  gap: 10px;
}

.information__section-text {
  display: flex;
  flex-direction: column;
}

.information__day-text {
  color: #535353;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.69;
}

.information__icon-tel {
  transition: 0.4s;
}

.information__icon-tel:hover {
  transform: scale(0.8);
}

.information__phone-number {
  font-size: 20px;
  color: #2b2929;
  font-weight: 600;
  line-height: 1.4;
}

.information-link-number {
  transition: 0.2s;
}

.information-link-number:hover {
  transform: scale(1.1);
}

.middle-header__icon-goods {
  display: flex;
  gap: 20px;
}

.middle-header__icon-goods * {
  transition: 0.4s;
}

.middle-header__icon-goods *:hover {
  transform: scale(0.8);
}

/* Header BOTTOM */

.header__bottom {
  width: 100%;
  background-color: #fff;

  padding: 18px 0;
}

.bottom-header__container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26;
}

.bottom-header__left-section {
  flex-basis: 465px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px 40px;
}

.bottom-header__left span:hover {
  text-decoration: underline;
}

.bottom-header__right {
  flex-basis: 717px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px 40px;
}

.bottom-header__right *:hover {
  text-decoration: underline;
}

/* Блок товару 1 */

main {
  margin-bottom: 80px;
}

.main__block-popular {
  max-width: 1290px;
  color: #2b2929;
  margin: 0 auto;
  margin-bottom: 70px;
}

.block-popular__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 40px;
}

.block-popular__section-column {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 10px;
}

.block-popular__column {
  max-width: 250px;
  background: url(../img/frame-background.svg) 0 bottom / 100% no-repeat;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(83, 83, 83, 0.089);
  transition: 0.4s;
}

.block-popular__column:hover {
  border-radius: 8px;
  transform: scale(1.02);
  box-shadow: 0 0 10px 0 rgba(83, 83, 83, 0.247);
}

.block-popular__column > img {
  margin: 0 auto;
  text-align: center;
}

.block-popular__section-text {
  display: flex;
  padding-top: 20px;
  gap: 15px;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.block-popular__goods-title {
  max-width: 130px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
}

.block-popular__number {
  color: #b1b1b1;
}

/* Требе це показувати? */
.block-popular__img {
  flex: 0 0 250px;
  width: 100%;
}

.block-popular__icon-arrow {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

/* Блок товару 2 */

.block-the-most-popular {
  max-width: 1290px;
  margin: 0 auto;
}

.block-the-most-popular__section-title {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 40px;
}

.section-title__title-two {
  color: #2b2929;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
}

.section-text-arrow-orange__link {
  display: flex;
  gap: 10px;
  transition: 0.3s;
}

.section-text-arrow-orange__look-all {
  color: #ffbc57;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26;
}

.section-text-arrow-orange:hover {
  transform: scale(1.2);
}

.block-the-most-popular__section-column-most-popular {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.the-most-popular-column {
  flex-basis: 300px;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: 1px solid #e3e2e2;
  box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
}

.the-most-popular-column__img {
  width: 100%;
  border-radius: 8px;
  flex: 0 0 260px;
  height: 220px;
}

.the-most-popular-column__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  flex-grow: 1;
}

.the-most-popular-column__text-size {
  color: #535353;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.69;
}

.the-most-popular-column__text-name {
  color: #2b2929;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26;
}

.the-most-popular-column-link-title:hover {
  text-decoration: underline;
}

.the-most-popular-column__availability {
  display: flex;
  align-items: center;
  gap: 5px;
}

.the-most-popular-column__text-availability {
  color: #2b2929;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.69;
}

.the-most-popular-column__section-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-price__numbers {
  display: flex;
  flex-direction: column;
}

.section-price__discount-price {
  color: #e03d3d;
  font-size: 15px;
  line-height: 1.46;
  text-decoration: line-through;
}

.section-price__price {
  color: #2b2929;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
}

.the-most-popular-column__icon {
  display: flex;
  gap: 10px;
}

.the-most-popular-column__icon * {
  transition: 0.4s;
}

.the-most-popular-column__icon *:hover {
  transform: scale(1.1);
}

/* Блок 3 */

.footer__section-footer {
  max-width: 1290px;
  padding-bottom: 70px;
  margin: 0 auto;
}

.section-footer__block-text-action-footer {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 46px;
}

.section-footer__text-action {
  color: #2b2929;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
}

.section-footer__section-img-footer {
  display: flex;
  gap: 50px 30px;
}

.section-footer__section-img-footer * {
  transition: 0.5s;
}

.section-footer__section-img-footer *:hover {
  transform: scale(1.02);
  margin-top: -5px;
}
