@import url("fonts.css");

@import url("reset.css");

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;

  color: #2b2929;
  background-color: #f8f8f8;
}

[class*="__container"] {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
  /* background-color: #ffbc57; */
}

/* ============================================================ */

/* Header TOP */
.header {
  background-color: beige;
}

.header--margin {
  margin: 50px 0;
}

/* ============================================================ */

.header__title-header {
  color: blueviolet;
  font-weight: 600;
  font-size: 40px;
  text-align: center;
}

/* ============================================================ */

.goods__header {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 40px;
}

.goods__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
}

.goods__link {
  color: #ffbc57;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26;
  transition: all 0.3s;
}

.goods__link::after {
  content: "";
  background: url(../img/yellow-vector.svg) 0 0 / 100% no-repeat;
  width: 12px;
  height: 12px;
  margin-left: 10px;
}

.goods__link:hover {
  position: relative;
  transform: scale(1.06);
  transition: all 0.3s;
}

/* ============================================================ */
.goods__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 10px;
}

@media (min-width: 1268.98px) {
  .goods__items {
    gap: 30px;
  }
}

.product-card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #e3e2e2;
  box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
  transition: transform 0.4s;
}

.product-card:hover {
  transform: scale(1.02);
}

/*================================*/
.product-card__image {
  transition: opacity 0.3s;
  aspect-ratio: 260/220; /* aspect-ratio вказує пропорції для елементу */
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.product-card__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  transition: top 0.3s;
}

.product-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card__image:hover::before {
  top: -100%;
}

.product-card__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  flex-grow: 1;
}

.product-card__size {
  color: #535353;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.69;
}

.product-card__title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.26;
  flex-grow: 1;
  transition: color 0.3s;
}

.product-card__title a:hover {
  color: #ffbc57;
}

.product-card__in-stock {
  font-size: 13px;
  font-weight: 300;
  line-height: 1.69;
  display: flex;
  align-items: center;
  gap: 5px;
}

.product-card__in-stock::before {
  content: "";
  background: url(../img/in-stock-vector.svg) 0 0 / 100% no-repeat;
  width: 24px;
  height: 24px;
}

.product-card__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px 20px;
}
.product-card__price {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-card__old-price {
  color: #e03d3d;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.46;
  text-decoration: line-through;
}
.product-card__current-price {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.46;
}
.product-card__buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.product-card__button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all 0.4s;
}

.product-card__button--liked {
  background: url(../img/heart-vector.svg) center / 23px no-repeat #f8f8f8;
}

.product-card__button--liked:hover {
  background: url(../img/heart-vector-two.svg) center / 23px no-repeat #ffbc57;
}

.product-card__button--basket {
  background: url(../img/basket-vector.svg) center / 25px no-repeat #f8f8f8;
}

.product-card__button--basket:hover {
  background: url(../img/basket-vector-two.svg) center / 25px no-repeat #ffbc57;
}

/*================================*/

.pege__dress {
  max-width: 1269px;
  padding: 0 15px;
  color: #000;
  margin: 0 auto;
}

.dress__title {
  text-align: center;
  font-family: "Integral CF", sans-serif;
  font-size: 48px;
  font-weight: 700;
}

.dress__items {
  max-width: 1240px;
  display: grid;
  grid-template-columns: minmax(150px, 407px) auto minmax(150px, 407px);
  grid-auto-rows: 289px;
  /* grid-template-columns: 407px 688px; */
  /* grid-template-rows: 290px; */
  /* grid-template: repeat(290px, 1fr) / repeat(4, 1fr); */
  gap: 20px;
  position: relative;
}

/* .dress__items > :nth-child(2) {
  grid-column: span 1;
} */

.dress__card {
}

.dress-card {
}

.dress__title-sub {
  font-family: "Satoshi", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  top: 25px;
  left: 15px;
}

.dress__item {
  /* width: 100%;
  height: 290px; */
  /* aspect-ratio: 407/290; */
  /* aspect-ratio вказує пропорції для елементу */
  /* overflow: hidden;
  border-radius: 8px; */
  border-radius: 20px;
  position: relative;
  background-color: #fff;
  transition: box-shadow 0.3s;
}

.dress__item img {
  /* width: 100%;
  height: 100%;
  object-fit: cover; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  border-radius: 20px;
}
