@import url("fonts.css");

@import url("reset.css");

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;

  color: #2b2929;
  background-color: #f8f8f8;
}

[class*="__container"] {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
  /* background-color: #ffbc57; */
}

/* ============================================================ */

/* Header TOP */
.header {
  background-color: #fff;
  padding: 20px 0;
}

.header--margin {
  margin: 50px 0;
}

/* ============================================================ */

.header__title-header {
  color: #7d7979;
  font-weight: 600;
  font-size: 50px;
  text-align: center;
}

/* ============================================================ */

.page__goods--margin {
  margin-bottom: 100px;
}

.goods__header {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.goods__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
}

@media (max-width: 689.98px) {
  .goods__title {
    font-size: 34px;
  }
}

.goods__link {
  color: #ffbc57;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26;
  transition: all 0.3s;
}

.goods__link::after {
  content: "";
  background: url(../img/yellow-vector.svg) 0 0 / 100% no-repeat;
  width: 12px;
  height: 12px;
  margin-left: 10px;
}

@media (any-hover: hover) {
  .goods__link:hover {
    position: relative;
    transform: scale(1.06);
    transition: all 0.3s;
  }
}

/* ============================================================ */
.goods__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 10px;
}

@media (min-width: 1268.98px) {
  .goods__items {
    gap: 30px;
  }
}

@media (max-width: 1020px) {
  .goods__items {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}

.product-card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #e3e2e2;
  box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
  transition: box-shadow 0.4s;
}

@media (any-hover: hover) {
  .product-card:hover {
    box-shadow: 0 0 10px 2px #00000046;
  }
}

/*================================*/
.product-card__image {
  transition: opacity 0.3s;
  aspect-ratio: 260/220; /* aspect-ratio вказує пропорції для елементу */
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.product-card__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  transition: top 0.3s;
}

.product-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (any-hover: hover) {
  .product-card__image:hover::before {
    top: -100%;
  }
}

.product-card__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  flex-grow: 1;
}

.product-card__size {
  color: #535353;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.69;
}

.product-card__title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.26;
  flex-grow: 1;
  transition: color 0.3s;
}

@media (any-hover: hover) {
  .product-card__title a:hover {
    color: #ffbc57;
  }
}

.product-card__in-stock {
  font-size: 13px;
  font-weight: 300;
  line-height: 1.69;
  display: flex;
  align-items: center;
  gap: 5px;
}

.product-card__in-stock::before {
  content: "";
  background: url(../img/in-stock-vector.svg) 0 0 / 100% no-repeat;
  width: 24px;
  height: 24px;
}

.product-card__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px 20px;
}
.product-card__price {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-card__old-price {
  color: #e03d3d;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.46;
  text-decoration: line-through;
}
.product-card__current-price {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.46;
}
.product-card__buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.product-card__button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all 0.4s;
}

.product-card__button--liked {
  background: url(../img/heart-vector.svg) center / 23px no-repeat #f8f8f8;
}

@media (any-hover: hover) {
  .product-card__button--liked:hover {
    background: url(../img/heart-vector-two.svg) center / 23px no-repeat #ffbc57;
  }
}

.product-card__button--basket {
  background: url(../img/basket-vector.svg) center / 25px no-repeat #f8f8f8;
}

@media (any-hover: hover) {
  .product-card__button--basket:hover {
    background: url(../img/basket-vector-two.svg) center / 25px no-repeat
      #ffbc57;
  }
}

/*================================*/

.page__dress-section--margin {
  margin-bottom: 50px;
}

.dress-section {
  background-color: #fff;
  padding: 50px 15px;
}

.dress-style {
  max-width: 1269px;
  color: #000;
  margin: 0 auto;
  background-color: #f0f0f0;
  border-radius: 40px;
  padding: 75px 15px;
}

.dress-style__title {
  text-align: center;
  font-family: "Integral CF", sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 64px;
}

.dress-style__items {
  max-width: 1240px;
  display: grid;
  grid-template-columns: 407px 267px 407px;
  grid-auto-rows: 289px;
  gap: 20px;
  justify-content: center;
}

.dress-style__items > :nth-child(2) {
  grid-column: span 2;
}

.dress-style__items > :nth-child(3) {
  grid-column: span 2;
}

.dress-body__link {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  display: block;
  transition: box-shadow 0.4s;
}

@media (any-hover: hover) {
  .dress-body__link:hover {
    box-shadow: 0 0 15px 3px #00000046;
    border-radius: 20px;
  }
}

.dress-card__title-sub {
  font-family: "Satoshi", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  top: 25px;
  left: 35px;
}

.dress-card__image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
  aspect-ratio: 407/289;
}

.dress-card__image img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  border-radius: 20px;
}

@media (max-width: 1309.98px) {
  .dress-style__items {
    grid-template-columns: repeat(auto-fill, minmax(407px, 1fr));
    padding: 0 20px;
  }
  .dress-style__items > :nth-child(2) {
    grid-column: span 1;
  }

  .dress-style__items > :nth-child(3) {
    grid-column: span 1;
  }
  .dress-card__image img {
    height: 100%;
  }
}

@media (max-width: 903.98px) {
  .dress-style__items {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    padding: 0 20px;
  }
}

@media (max-width: 500px) {
  .dress-style__items {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-auto-rows: 230px;
  }
}

@media (max-width: 460px) {
  .dress-card__title-sub {
    font-size: 32px;
    position: absolute;
    top: 25px;
    left: 15px;
  }
}

/* ============================================================ */
.footer {
  background-color: #fff;
}

.footer__glory {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
}

.footer__glory > :not(:last-child) {
  margin-bottom: 10px;
}

.footer__glory span:nth-child(1) {
  color: blue;
}

.footer__glory span:nth-child(2) {
  color: rgb(255, 238, 0);
}

.glory__upstairs {
  /* position: absolute;
  top: 10px;
  right: 37px; */
  font-size: 30px;
  color: #22233b;
  font-weight: 600;
  background-color: #e3e2e2;
  border-radius: 40px;
  padding: 15px;
  transition: all 0.3s;
  text-align: center;
}

@media (any-hover: hover) {
  .glory__upstairs:hover {
    background-color: #e3e2e24e;
    color: #22233b62;
  }
}
