@import url("fonts.css");

@import url("reset.css");

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;

  background-color: #f8f8f8;
  font-family: "Proxima Nova", sans-serif;
  color: #535353;
}

[class*="__container"] {
  max-width: 1290px;
  margin: 0 auto;
}

/* ============================================================ */

/* Header TOP */

@media {
}

.top__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 15px 0;
  /* line-height: 1.3; */
}

.top__ul {
  flex-basis: 560px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 30px;
}

.top__ul *:hover {
  text-decoration: underline;
}

.section-messengers {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.section-messengers__mesengers {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.section-messengers__list {
  display: flex;
  gap: 10px;
}

.list-messengers__item {
  transition: 0.3s;
  width: 30px;
  height: 30px;
}

.list-messengers__icon {
  width: 100%;
}

.list-messengers__item:hover {
  transform: scale(1.2);
  transition: 0.3s;
}

.section-messengers__text-language {
  color: #535353;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26;
}

.section-messengers__arrow-down-top {
  width: 24px;
}

/* Header MIDDLE */

.header__middle {
  width: 100%;
  background-color: #fff;
  padding: 25px 0;
  border: 2px solid #f8f8f8;
}

.middle-header__container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.middle-header__logo-img {
  margin-right: 4px;
  flex-basis: 250px;
}

.middle-header__catalog-link {
  background: #ffbc57;
  border-radius: 8px;
  padding: 13px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26;
  transition: 0.4s;
}

.middle-header__catalog-link::before {
  content: "";
  background: url(../img/menu-catalog.svg) 0 0 / 100% no-repeat;
  width: 24px;
  height: 24px;
}

.middle-header__catalog-link:hover {
  background-color: #e39d34;
  transform: scale(1.05);
  transition: 0.4s;
}

/* ============================================================ */

.middle-header__search-section {
  flex-basis: 421px;
  /* width: 100%; */
  /* height: 50px; */
  color: #535353;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.26;
  border: 1px solid #b1b1b1;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}

.middle-header__label {
  width: 90%;
  display: flex;
  align-items: center;
  vertical-align: middle;
  gap: 50px;
  justify-content: space-between;
  /* position: relative; */
}
/* 
.middle-header__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
} */

.middle-header__input:focus-visible {
  outline: 1px solid #b1b1b1;
  outline-offset: 4px;
  border-radius: 5px;
}

.middle-header__input::placeholder {
  color: #b1b1b1;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
}

.middle-header__button::before {
  content: "";
  background: url(../img/icon_search.svg) 0 0 / 100% no-repeat;
  width: 24px;
  height: 24px;
}

/* ============================================================ */

.information {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.information__link-tel {
  transition: 0.4s;
  width: 50px;
  height: 50px;
}

.information__link-tel:hover {
  transform: scale(0.9);
  transition: 0.4s;
}

.information__img-phone {
  width: 50px;
}

.information__section-text {
  display: flex;
  flex-direction: column;
}

.information__day-text {
  font-size: 13px;
  font-weight: 300;
  line-height: 1.69;
}

.information__phone-number {
  font-size: 20px;
  color: #2b2929;
  font-weight: 600;
  line-height: 1.4;
}

.information-link-number {
  transition: 0.3s;
}

.information-link-number:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.information__arrows {
  width: 24px;
}

/* ============================================================ */

.middle-header__icon-goods {
  display: flex;
  gap: 20px;
}

.middle-header__icon-goods * {
  width: 50px;
  height: 50px;
  transition: 0.5s;
}

.middle-header__icon-goods *:hover {
  transform: scale(0.95);
  transition: 0.5s;
}

.middle-header__link-icon-goods * {
  width: 100%;
}

/* Header BOTTOM */

.header__bottom {
  width: 100%;
  background-color: #fff;

  padding: 18px 0;
}

.bottom-header__container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26;
}

.bottom-header__left-section {
  flex-basis: 465px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px 40px;
}

.bottom-header__left span:hover {
  text-decoration: underline;
}

.bottom-header__left-img {
  width: 24px;
}

.bottom-header__right {
  flex-basis: 717px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px 40px;
}

.bottom-header__right *:hover {
  text-decoration: underline;
}
