@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

@import url("reset.css");

body {
  padding-top: 50px;
}

main {
  background: url("../img/maze.jpg") center top no-repeat;
  background-size: cover;
  width: 1100px;
  height: 700px;
  margin: 0 auto;
  border-bottom: 8px solid #000;
}

.section-maze-game {
  padding-top: 30px;
  font-size: 0;
}

.line-1 {
  margin-left: 20px;
  width: 266px;
  height: 70px;
  border-radius: 0 40px 0 0;
  display: inline-block;
}

.line-1:hover {
  background-color: rgb(25, 145, 145);
  margin-left: 20px;
}

.line-2 {
  margin: 0 0 0 207px;
  width: 80px;
  height: 245px;
  display: block;
}

.line-2:hover {
  background-color: rgb(86, 122, 19);
}

.line-3 {
  margin: -96px 0 0 20px;
  width: 188px;
  height: 95px;
  border-radius: 20px 0 0 0;
  display: block;
}

.line-3:hover {
  background-color: rgb(159, 11, 134);
}

.line-4 {
  margin: -2px 0 0 21px;
  width: 90px;
  height: 344px;
  border-radius: 0 0 0 20px;
  display: inline-block;
}

.line-4:hover {
  background-color: rgb(122, 156, 20);
}

.line-5 {
  margin: -50px 0 0 106px;
  width: 330px;
  height: 51px;
  border-radius: 0 0 20px 0;
  display: block;
}

.line-5:hover {
  background-color: rgb(88, 155, 155);
}

.line-6 {
  margin: -178px 0 0 340px;
  width: 98px;
  height: 130px;
  border-radius: 20px 0 0 0;
  display: block;
}

.line-6:hover {
  background-color: rgb(5, 28, 28);
}

.line-7 {
  margin: -135px 0 0 436px;
  width: 440px;
  height: 70px;
  border-radius: 0 0 20px 0;
  display: block;
}

.line-7:hover {
  background-color: rgb(109, 17, 155);
}

.line-8 {
  margin: -205px 0 0 814px;
  width: 67px;
  height: 137px;
  border-radius: 20px 0 0 0;
  display: block;
}

.line-8:hover {
  background-color: rgb(35, 101, 193);
}

.line-9 {
  margin: -139px 0 0 878px;
  width: 197px;
  height: 94px;
  display: block;
}

.line-9:hover {
  background-color: rgb(198, 208, 8);
}

.yes {
  width: 300px;
  height: 110px;
  margin: -100px 0 0 1075px;
  text-align: center;
  font-size: 0;
}

.yes:hover {
  width: 300px;
  height: 200px;
  text-align: center;
  color: rgb(221, 224, 45);
  font-size: 55px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 50px;
  background: url("../img/flag.jpg") no-repeat;
  background-size: cover;
  padding-top: 15px;
  margin: -120px 0 0 900px;
}

.yes :nth-child(1) {
  margin-bottom: 60px;
}

.yes :nth-child(2) {
  color: rgba(0, 0, 255, 0.844);
}

/* Це було не просто ФУУ */
/* ChatGPT не використовувся під час створення лабіринту) */
