/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Ubuntu+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/* Google Fonts (Plugin) */
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

/* Локальне підключення шрифтів */
@import url("fonts.css");

@import url("reset.css");

body {
  font-family: "Proxima Nova", sans-serif;
  color: #2b2929;
  font-weight: 400;
  line-height: 1.875;
}

header {
  margin: 20px 0 50px 0;
}

.conteiner-list {
  max-width: 800px;
  text-align: center;
  color: rgb(59, 59, 225);
  font-family: "Merriweather", "Raleway", sans-serif;
  font-weight: 750;
  line-height: 4;
  margin: 0 auto;
  background-image: url("../img/flag.jpg");
  background-repeat: no-repeat;
  background-position: 0 10px;
  background-size: 80px;
}

.li-border {
  padding: 0 5px;
  font-size: 18px;
  width: 280px;
  display: inline-block;
  box-shadow: 0 6px 5px 0 rgb(28, 28, 28);
  border-radius: 100px;
  vertical-align: top;
  margin: 0 30px 25px 0;
  background-color: rgb(227, 224, 224);
}

.li-border-two {
  line-height: 2;
}

.li-border:hover {
  box-shadow: none;
  background-color: transparent;
}

.link {
  text-decoration: underline;
  text-decoration-color: rgb(21, 21, 184);
}

main {
  margin-bottom: 50px;
}

.block-photos {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}

/* "Як правильно обрати ліжко" */

.furniture {
  margin-bottom: 50px;
}

.choice {
  max-width: 960px;
  margin: 0 auto;
}

.titel {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;
}

.titel-choice {
  text-align: center;
  margin-bottom: 30px;
}

.text-choice {
  margin-bottom: 8px;
}

/* "Оформлення вітальні */

.margin-room {
  margin-bottom: 40px;
}

.section-room {
  max-width: 1070px;
  margin: 0 auto;
}

.titel-h3 {
  margin-bottom: 40px;
}

.img-room {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 40px;
  display: block;
}

.text-margin-bottom > p {
  margin-bottom: 9px;
}

/* На сайті інтернет магазину */

.container-crovato {
  margin-bottom: 20px;
}

.section-crovato {
  max-width: 1070px;
  margin: 0 auto;
}

.titel-site {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 30px;
}

.li-section {
  background: url("../img/mark.png") 0 0 no-repeat;
  padding-left: 47px;
  margin-bottom: 20px;
}

.container-selection {
  margin-bottom: 50px;
}

.selection {
  max-width: 1070px;
  margin: 0 auto;
}

/* "Кровато це" */

.margin-this {
  margin-bottom: 50px;
}

.construction {
  max-width: 1290px;
  margin: 0 auto;
  background-color: #f8f8f8;
  padding-top: 40px;
  text-align: center;
  font-family: "Proxima Nova", sans-serif;
}

.section-it-minus {
  margin: 0 -15px;
  font-size: 0;
}

.margin-this-h-titel {
  margin-bottom: 40px;
}

.this-h {
  max-width: 238px;
  margin: 0 auto;
}

.section-it {
  display: inline-block;
  margin: 0 15px;
  vertical-align: top;
  max-width: 300px;
  font-size: 16px;
  line-height: 1.875;
  max-width: 300px;
}

.img-mark-it {
  margin-bottom: 20px;
}

.text-titel-it {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 1.307;
}

/* Блок "Одяг" */

.marging-clothes {
  margin-bottom: 50px;
}

.construction-clothes {
  max-width: 1920px;
  margin: 0 auto;
  background-color: rgba(31, 41, 51, 0.057);
  padding: 100px 0 70px;
}

.section-clothes {
  max-width: 1320px;
  margin: 0 auto;
}

.clothes-h {
  margin-bottom: 60px;
}

.titel-h-six {
  max-width: 1013px;
  margin: 0 auto;
  color: #000;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.section-photos {
  font-size: 0;
  margin: 0 -12px;
}

.img-clothes {
  padding: 0 12px;
}

.margin-collections {
  margin-bottom: 50px;
}

.collections {
  max-width: 1920px;
  background: #1e283217 url("../img/collections-pattern.png") 0 350px no-repeat;
  font-family: "Roboto", sans-serif;
  padding: 225px 0 60px 0;
  margin: 0 auto;
  font-size: 0;
}

.section-collections {
  max-width: 1226px;
  margin: 0 auto;
}

.section-colections-margin-minus {
  margin-right: -98px;
}

.collections-section-left {
  max-width: 686px;
  text-align: left;
  color: #000;
  display: inline-block;
  margin: 74px 98px 124px 0;
}

.collections-titel {
  font-size: 74px;
  font-weight: 300;
  line-height: 0.74;
  margin-bottom: 52px;
}

.collections-text {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.8;
  margin-bottom: 66px;
}

.button-collection {
  background: #1e2832 url("../img/button_collections.png") 30px 22px no-repeat;
  max-width: 223px;
  font-size: 29px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #fff;
  text-align: right;
  padding: 8px 25px;
  margin-bottom: 5px;
}

.collections-img-border {
  display: inline-block;
}

.margin-violet {
  margin-bottom: 50px;
}

.container-violet {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Quicksand", sans-serif;
  padding: 121px 760px 121px 80px;
  background-color: #914cff;
  background: url("../img/backround_violet_one.png") right 19% no-repeat,
    url("../img/kid_img.png") 813px 0 no-repeat,
    url("../img/backround_violet_two.png") 0 0 no-repeat,
    url("../img/backround_violet_three.png") 0 0 no-repeat;
}

.section-violet {
  max-width: 600px;
  color: #fff;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.6;
}

.titel-violet {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 24px;
}

.button-violet {
  max-width: 217px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.56;
  background-color: #fff;
  padding: 12px;
  text-align: center;
  color: #0d1216;
  border-radius: 8px;
  margin-top: 24px;
}
