@import url("fonts.css");

@import url("reset.css");

.wrapper {
  min-height: 100%;
  padding: 60px;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 600;
  background: var(--Theme-Light, #f8f8f8);
}

.section-header {
  max-width: 1920px;
  background-color: #fff;
  position: sticky;
  top: 0;
  left: 0;
  padding: 15px 0;
  z-index: 999;
  margin-bottom: 60px;
}

.section-header__catalog {
  max-width: 145px;
  font-size: 0;
  border-radius: 8px;
  background: var(--Theme-Yellow, #ffbc57);
  border-radius: 8px;
  padding: 11px 20px 11px 20px;
  /* position: relative; */
  margin: 0 auto;
  margin-bottom: 45px;
}

.section-header__catalog:hover + .section-item__box-item box-item {
}

.section-header__catalog *:not(:last-child) {
  margin-right: 10px;
}

.section-header__catalog + .section-item__box-item {
  background-color: #fff;
  visibility: visible;
}

/* .section-item__item-matrac-icon--orange:hover + .pr {
  background: #ffbc57;
  visibility: visible;
} */

.catalog__img {
  max-width: 24px;
  min-height: 24px;
  text-align: left;
  /* position: absolute;
  left: 20px;
  bottom: 10px; */
  display: inline-block;
}

.catalog__text {
  color: #fff;
  font-size: 19px;
  line-height: 1.26;
  text-align: right;
  /* position: absolute;
  right: 20px;
  bottom: 10px; */
  display: inline-block;
}

.section-item__box-item {
  max-width: 623px;
  background-color: #fff;
  color: var(--Theme-Dark, #2b2929);
  font-size: 20px;
  line-height: 1.4;
  visibility: hidden;
  position: relative;
  margin: 0 auto;
}

.box-item__section-item {
  max-width: 255px;
  border-right: 2px solid var(--Theme-Yellow, #ffbc57);
}

.section-item__img {
  display: inline-block;
}

.section-item__text-link {
  display: inline-block;
}

.section-item__img {
  max-width: 40px;
  max-height: 40px;
}

/* .menu__item-matrac-icon:hover {
  background: #ffbc57, url("../img/arrow_menu_icon.png") 0 15px / 24px no-repeat;
} */

/* .section-item__item-matrac-icon--orange:hover + .pr {
  background: #ffbc57;
  visibility: visible;
} */

.pr {
  /* visibility: hidden; */
  /* font-size: 0; */
  position: absolute;
  top: 0;
  left: 400px;
}

/* .section-item__item-matrac-icon--orange:hover + #k {
  visibility: visible;
  font-size: 20px;
} */

.main {
  padding: 24px 0 24px 0;
}

.colon-goods__section-main {
  max-width: 250px;
  font-size: 20px;
  line-height: 1.4;
  background: url("../img/frame.svg") 0 0 no-repeat;
  border-radius: 8px;
  box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
  position: relative;
  margin: 0 auto;
}

.titel {
  color: var(--Theme-Dark, #2b2929);
  /* text-align: left; */
  position: absolute;
  left: 20px;
  top: 20px;
}

.numer {
  color: var(--Theme-Grey-light, #b1b1b1);
  /* text-align: right; */
  position: absolute;
  right: 20px;
  top: 20px;
}

.arrow {
  position: absolute;
  right: 30px;
  bottom: 20px;
}
