@import url("fonts.css");

@import url("reset.css");

body {
  overflow: auto;
  margin: 0 auto;
  background-color: #f8f8f8;
}

/* Чи правильно так записувати? */
/* flex-basis: 0 0 383px; */

.wrapper {
  min-height: 100%;
  font-family: "Proxima Nova", sans-serif;
  margin: 0 auto;
  margin-top: 100px;
}

.box {
  max-width: 740px;
  margin: 0 auto;
}

[class*="border"] {
  border-bottom: 5px solid #f8f8f8;
  width: 740px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

[class*="title"] {
  color: #2b2929;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 30px;
}

.box__title {
  color: #2b2929;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 40px;
}

.box__container {
  max-width: 740px;
  border-radius: 8px;
  background: #fff;
  box-shadow: -3px 4px 15px 0px #0000000f;
  padding-top: 27px;
}

.container-header {
  flex-basis: 0 0 680px;
  padding-bottom: 27px;
}

.container-header__title::before {
  content: "";
  background: url(../img/icon-info.svg) 0 0 /100% no-repeat;
  width: 60px;
  height: 60px;
  margin-right: 15px;
  vertical-align: middle;
}

.form {
  width: 680px;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 30px;
  margin-bottom: 20px;
}

.form__input {
  width: 325px;
  height: 50px;
  border-radius: 8px;
  padding: 10px 20px;
  border-radius: 8px;
  border: 2px solid rgba(83, 83, 83, 0.457);
  background: #fff;
  transition: 0.3s;
}

.form__input:hover {
  border: 2px solid rgba(83, 83, 83, 0.457);
  background-color: #f4f3f3;
  transition: 0.3s;
}

.form__input::placeholder {
  color: #535353;
  font-weight: 400;
  line-height: 1.87;
}

.form__input:focus-visible {
  outline: 2px solid rgba(83, 83, 83, 0.457);
  background-color: #f4f3f3;
  transition: 0.3s;
}

.form-radio__label {
  position: relative;
  cursor: pointer;
}

.form-radio__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
}

.form-radio__input:focus-visible + .form-radio__span {
  outline: 2px solid rgba(83, 83, 83, 0.457);
  outline-offset: 6px;
  border-radius: 1px;
}

.form-radio__input:checked + .form-radio__span::before {
  content: "";
  width: 20px;
  height: 20px;
  background: url(../img/checkbox-icon.svg) 0 0 / 100% no-repeat,
    url(../img/birdie-icon.jpg) 0 0 / 100% no-repeat;
  vertical-align: middle;
  margin-right: 10px;
}

.form-radio__span {
  color: #535353;
  line-height: 1.87;
  vertical-align: middle;
}

.form-radio__span::before {
  content: "";
  width: 20px;
  height: 20px;
  background: url(../img/checkbox-icon.svg) 0 0 / 100% no-repeat;
  vertical-align: middle;
  margin-right: 10px;
}

.container-main {
  flex-basis: 0 0 680px;
  display: flex;
  flex-direction: column;
  /* gap: 30px; */
  padding: 30px 0 30px;
}

.container-main__title::before {
  content: "";
  background: url(../img/icon-truck.svg) 0 0 /100% no-repeat;
  width: 60px;
  height: 60px;
  margin-right: 15px;
  vertical-align: middle;
}

.main-radio {
  flex-basis: 0 0 680px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 30px;
}

.main-radio__boxs {
  flex-basis: 210px;
  padding: 20px 0 20px 0;
  border-radius: 8px;
  border: 3px solid #f8f8f8;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  text-align: center;
  transition-duration: 0.9s;
}

.main-radio__boxs:active {
  border: 3px solid #ffbc57;
  transform: scale(1.02);
  transition-duration: 0.3s;
  background-color: #f4f3f3;
}

.main-radio__boxs *:hover {
  background-color: #f4f3f3;
  transition-duration: 0.3s;
  cursor: pointer;
}

.main-radio__boxs:hover {
  background-color: #f4f3f3;
  border: 3px solid #ffbc57;
  transition-duration: 0.3s;
  cursor: pointer;
}

.main-radio__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
}

.main-radio__label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-radio__boxs:focus-visible {
  outline: 3px solid #ffbc57;
  transition: 0s;
}

.main-radio__input:checked + .main-radio__label::before {
  content: "";
  background: url(../img/check-mark-orange.svg) 0 0 / 100% no-repeat;
  width: 40px;
  height: 40px;
}

.main-radio__label--1::before {
  content: "";
  background: url(../img/shop-icon.svg) 0 0 / 100% no-repeat;
  width: 40px;
  height: 40px;
}

.main-radio__label--2::before {
  content: "";
  background: url(../img/new-delivery.svg) 0 0 / 100% no-repeat;
  width: 40px;
  height: 40px;
}

.main-radio__label--3::before {
  content: "";
  background: url(../img/courier-icon.svg) 0 0 / 100% no-repeat;
  width: 40px;
  height: 40px;
}

.main-radio__as {
  color: #2b2929;
  font-weight: 400;
  line-height: 1.87;
  margin-top: 10px;
}

.main-radio__span {
  color: #535353;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.46;
}

.container-main__location {
  flex-basis: 0 0 680px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border-radius: 8px;
  background-color: #f8f8f8;
  padding: 20px;
}

.container-main-text {
  flex-basis: 0 0 350px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-right: 69px;
}

.container-main__time {
  color: #2b2929;
  font-weight: 400;
  line-height: 1.87;
}

.container-main__where {
  color: #2b2929;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
}

.button-link {
  width: 142px;
  height: 50px;
  background: #ffbc57;
  border-radius: 8px;
  padding: 13px 20px;
  vertical-align: middle;
}

.button-link:hover {
  background-color: #fcab32;
}

.button-link:focus-visible,
.button-link__link-button:focus-visible {
  outline: 2px solid rgba(121, 89, 41, 0.457);
}

.button-link__span {
  color: #fff;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26;
}

.button-link__span::before {
  content: "";
  background: url(../img/map-icon.png) 0 0 / 100% no-repeat;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  vertical-align: middle;
}

footer {
  padding-bottom: 30px;
}

.container-footer {
  flex-basis: 0 0 680px;
  padding: 30px 0 30px 0;
  display: flex;
  flex-direction: column;
}

.container-footer__title::before {
  content: "";
  background: url(../img/icon-payment.svg) 0 0 /100% no-repeat;
  width: 60px;
  height: 60px;
  margin-right: 15px;
  vertical-align: middle;
}

.form-footer {
  width: 680px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-footer__label {
  position: relative;
  border-radius: 8px;
  cursor: pointer;
}

.form-footer__label:hover {
  background-color: #f4f3f3;
  transition-duration: 0.3s;
}

.form-footer__label:focus-visible {
  outline: 2px solid rgba(83, 83, 83, 0.457);
}

.form-footer__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
}

.form-footer__span::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url(../img/check-mark-round.svg) 0 0 / 100% no-repeat;
  vertical-align: middle;
  margin-right: 10px;
}

.form-footer__label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-footer__input:checked + .form-footer__span::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url(../img/check-mark-orange.svg) 0 0 / 100% no-repeat;
  margin-right: 10px;
}

.form-footer__img {
  width: 48px;
  height: 32px;
}

.container-bottom {
  display: flex;
  flex-direction: column;
  /* gap: 30px; */
  padding: 30px 0 30px 0;
}

.container-bottom__title::before {
  content: "";
  background: url(../img/icon-comment.svg) 0 0 /100% no-repeat;
  width: 60px;
  height: 60px;
  margin-right: 15px;
  vertical-align: middle;
}

.textarea {
  width: 680px;
  height: 150px;
  padding: 10px 20px 10px 20px;
  border-radius: 8px;
  border: 1px solid #d1d5d5;
  resize: none;
  margin-bottom: 30px;
}

.textarea::placeholder {
  color: #535353;
  font-weight: 400;
  line-height: 1.87;
}

.textarea:hover {
  background-color: #f4f3f3;
}

.textarea:focus-visible {
  outline: 2px solid rgba(83, 83, 83, 0.457);
}

.footer__order-button {
  width: 460px;
  height: 50px;
  padding: 8px 30px;
  align-items: center;
  border-radius: 8px;
  background-color: #ffbc57;
  color: #fff;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26;
}

.footer__order-button:hover {
  background-color: #fcab32;
}

.footer__order-button:focus-visible {
  outline: 2px solid rgba(121, 89, 41, 0.457);
}
